<div class="container-fluid">
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("chart example", "Index", "Chart")</li>
        <li>@Html.ActionLink("list example", "Index", "List")</li>
        <li>@Html.ActionLink("partials example", "Index", "Data")</li>
    </ul>
</div>