@{
    Layout = "../Shared/_Layout.cshtml";
}

@section styles
{
    <link href="~/Content/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/examples.css" rel="stylesheet" />
}

<div class="container-fluid">
    <div class="row-fluid">
        <h1>Do Stock Prices Follow Benford's Law?</h1>
        <div id="example" class="k-content">
            <div class="chart-wrapper">
                <div id="chart" style="background: center no-repeat url('content/images/world-map.png');"></div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/kendo.dataviz.min.js"></script>
    <script type="text/javascript">
        function createChart() {
            $("#chart").kendoChart({
                dataSource: {
                    transport: {
                        read: {
                            url: "Chart/GetStocksData?sheet=stock prices&xcolumn=B&ycolumn=C",
                            dataType: "json"
                        }
                    },
                    sort: {
                        field: "x",
                        dir: "asc"
                    }
                },
                title: {
                    text: "Stock Prices"
                },
                legend: {
                    position: "top"
                },
                seriesDefaults: {
                    type: "column"
                },
                series: [{
                    name: "Value",
                    field: "y"
                }],
                valueAxis: {
                    labels: {
                        format: "{0}%"
                    },
                    line: {
                        visible: false
                    },
                    axisCrossingValue: 0
                },
                categoryAxis: {
                    field: "x",
                    line: {
                        visible: false
                    },
                    labels: {

                    }
                },
                tooltip: {
                    visible: true,
                    format: "{0}%",
                    template: "#= series.name #: #= value #"
                }
            });
        }

        $(document).ready(function () {
            setTimeout(function () {
                // Initialize the chart with a delay to make sure the initial animation is visible
                createChart();
            }, 400);
        });
    </script>
}